<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="whole-page row">
                <div class="image-section col-md-6">
                    <div class="mt-5 mb-3 ">
                        <h1 class="text-center text-white ">Welcome to </h1>
                        <h1 class="text-center text-white ">Testtreak Online Test</h1>
                    </div>

                    <div class="mt-5 mb-3 mx-5 ">
                        <img src="https://dev.testreak.com/assets/images/login-left-2.svg" alt="testtreakimage" />
                    </div>

                    <div class="mt-5 mb-3 ">
                        <h5 class="text-white text-center ">You can create exams, assessments and tests. But that’s not
                            where it
                            stops.</h5>
                        <h5 class="text-white text-center">We aim high and we like to challenge ourselves, so we can
                            deliver great
                            quality.</h5>
                    </div>

                    <div class="mt-5 mb-3 mx-5 ">
                        <img src="https://dev.testreak.com/assets/images/white-logo.svg" alt="logo" />
                    </div>

                </div>

                <div class="login-section col-md-6">
                    <!-- <div class="mt-3 mb-3 row ">
                        <div class="col-md-3">
                            <img src="https://dev.testreak.com/assets/images/logo.svg" class="mt-5 mx-5" alt="logo" />

                            <div class="mt-5 mb-3">
                                <h4>Welcome to testtreak</h4>
                            </div>      
                        </div>

                        <div class="col-md-3 mt-5 mx-5">
                            <h5 class="text-dark">New to testreak?<a href="#" class="text-primary">SignUp</a></h5>

                        </div> -->
                    <div style="margin:40px">
                        <div class="top">
                            <div>
                                <img src="https://dev.testreak.com/assets/images/logo.svg" alt="logo" />
                            </div>
                            <div>
                                <h5 class="text-dark">New to testreak?&nbsp;<a href="#" class="text-primary" [routerLink]="['/signup']" routerLinkActive="router-link-active" >SignUp</a>
                                </h5>
                            </div>
                        </div>
                        <h5 class="mt-5 mb-3">Welcome to Testreak</h5>

                        <div class="form-section mt-5 mx-3">

                            <form [formGroup]="form" (ngSubmit)="submitForm()">
                                <div class="mt-3 mb-3">
                                    <label type="email" class="form-label">Email Address</label>
                                    <input type="text" class="form-control" autofocus="autofocus"
                                        placeholder="Email Address" formControlName="email" />
                                </div>

                                <div class="mt-3 mb-3">
                                    <label type="password" class="form-label">Password</label>
                                    <input type="text" class="form-control" autofocus="autofocus" placeholder="Password"
                                        formControlName="password" />
                                </div>

                                <div class="mt-5 ">
                                    <input type="submit" class="form-control btn-primary" placeholder="Login" />
                                </div>






                            </form>

                            <div class="mt-5 mb-3">
                                <p>Issues on login?&nbsp;<a href="#">contact@testreak.com</a></p>
                            </div>

                         

                            
                        </div>
                    </div>
                </div>
                <!-- <div class="container" style="text-align: center;"> -->


                <!-- </div> -->



            </div>
        </div>
    </div>
</div>