.image-section{
    height:100vh;
    background-color: #31489c;
}

.container-fluid{
    height: 100vh;

}

.top{
    display: flex;
  justify-content: space-between;
  /* align-items:center ; */
}
.endsection a{
    color: #31489c;

}